RADIUS_SERVER=127.0.0.1
RADIUS_SECRET=testing123
RADIUS_DICTIONARY=/etc/freeradius/dictionary
RADIUS_USERNAME=alice
RADIUS_PASSWORD=secret
RADIUS_AUTH_PORT=1812
RADIUS_ACCT_PORT=1813
RADIUS_COA_PORT=3799
RADIUS_TIMEOUT=5
RADIUS_RETRIES=3
